    /* Reset */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* stop Reset */

    /* Common */

    body {
        font-family: 'Nerko One', cursive, Arial, Helvetica, sans-serif;
        background-color: #add8e6;
    }

    .container {
        width: 65%;
        margin: auto;
    }

    img {
        width: 60%;
    }

    footer{
        margin-top: 2%;
        margin-bottom: 5%;
        text-align: center;
    }

    /* stop Common */

    /* Header */

    h1 {
        color: #fff;
        text-align: center;
        font-size: 65px;
        margin-bottom: 2%;
    }

    /* stop Header */

    /* Main */

    .row {
        text-align: center;
    }

    .box {
        height: 200px;
        display: inline-block;
        width: 20%;
        margin: 10px;
        position: relative;
        overflow: hidden;
        background-image: url('../img/pattern.png');
        background-color: #fff;
        background-size: contain;
        border-radius: 30px;
    }

    .box .text {
        position: absolute;
        bottom: 10%;
        font-size: 200%;
        left: 0;
        width: 100%;
        text-align: center;
        color: #e3801a;
    }

    .box img, .box .text {
        display: none;
    }

    .box:hover {
        background-image: none;
    }

    .box:hover img, .box:hover .text {
        display: inline-block;
    }

    /* stop Main */